* {
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Oswald';
}

h1 {
    font-weight: 900;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.container {
    border: 2px solid white;
    padding-left: 55px;
}

h2 {
    color: white
}

.color-container {
    width: 100%;
}

.color-panel {
    display: inline-block;
    width: 24%;
    text-align: center;
    margin: 20px auto;
    min-height: 100%;
}

.seagreen {
    background-color: seagreen;
    color: white;
}

.white {
    background-color: white;
    color: black
}

.blue {
    background-color: blue;
    color: white;
}

.black {
    border: 1px solid white;
    color: white;
}

.iblue {
    background-color: #405DE6;
    color: white;
}

.ipurple-blue {
    background-color: #5851DB;
    color: white
}

.ipurple {
    background-color: #833AB4;
    color: white;
}

.ipurple-red {
    background-color: #C13584;
    color: white;
}

.irose {
    background-color: #E1306C;
    color: white;
}

.ibright-red {
    background: #FD1D1D;
    color: white;
}

.ired-orange {
    background-color: #F56040;
    color: white;
}

.iorange {
    background-color: #F77737;
    color: white;
}

.iorange-yellow {
    background-color: #FCAF45;
    color: white;
}

.iyellow {
    background-color: #FFDC80;
}